@charset "UTF-8";

@media screen and (min-width:798px) {
    header>h1 {
        font-size: 4.5em;
    }

    .fa-bars {
        display: none;
    }

    header {
        height: 200px;
    }

    .menu {
        bottom: 0;
        display: flex;
        flex-direction: row;
        background: none;
        height: 50px;
        width: 100%;
        border-radius: 0;
    }

    .menu li a {
        display: block;
        transition: 0.3s;
        padding: 20px;
        border-radius: 8px;
    }

    .menu li a:hover{
        background-color: rgba(0, 0, 0, 0.274);
        transition: 0.3s;
    }

}

@media screen and (min-width:798px) and (max-width:992px)
{
    .sobre
    {
        width:50%;
    }
    .habilidades {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap; 
        padding:20px;
    }
    .card {
        margin:25px;
        width:15.2rem;
        transition:transform 0.8s;
        box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.295);
    }
    .card:hover
    {
        cursor: pointer;
        transform: translate(0px,-10px);
        transition: transform 0.8s;

    }
