@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Peralta&family=Raleway:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: #0A1128
}

.cabecalho {
    background-color: #0A1128;
    width: 100vw;
    height: 180px;
}

.cabecalho>h1 {
    color: #04C2D9;
    font-family: 'Bebas Neue';
    font-weight: normal;
    text-align: center;
    padding: 15px;
    font-size: 3em;
}

.fa-bars {
    position: absolute;
    left: 8px;
    color: white;
    cursor: pointer;

}

.ativo.cabecalho {
    height: 280px;
}

.menu {
    display: none;
    width: 100%;
    height: auto;
}

.menu ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.menu ul li {
    padding: 10px;
}

.menu ul li a {
    text-align: justify;
    text-decoration: none;
    color: #e8f1f2cb;
    font-size: 1.4em;
    font-family: 'Raleway';
}

.menu ul li a:hover {
    color: white;
}

#imagem1 {
    background-image: url(../imagens/img1.jpg);
    width: 100%;
    height: 300px;
    background-size: cover
}
.sobre
{
    display:block;
    margin:auto;
    margin-top:25px;
    margin-bottom:25px;
    border-radius: 5px;
    width:80%;
    background-color: white;
    height:240px;
}
.sobre > h2
{
    text-align: center;
    color:#0A1128;
    font-family: 'Bebas Neue';
}
.sobre p
{
    text-align: justify;
    width:80%;
    display:block;
    margin:auto;
}
h1 {
    color: #04C2D9;
    font-family: 'Bebas Neue';
    font-size: 3em;
    text-align: center;
}

.habilidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 14em;
}

.card-text {
    font-size: 0.8em;
}
.ensino
{

    display:block;
    margin:auto;
    margin-top:15px;
    margin-bottom:50px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.514);
    width:95%;
    height:auto;
    background-color: white;
}
.local_ensino
{
    text-align: center;
    color:#0A1128
}
.local_ensino > h2
{
color:#0A1128;
font-weight: bold;
}

footer
{
    display:flex;

    margin-top:50px;
    background-color: black;
    width:100%;
    height:120px;
 
}