@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Peralta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Peralta&family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #0A1128;
    overflow-x: hidden;
    width:100vw;
    height:100vh;
}

header {
    position: relative;
    background-color: #0A1128;
    width: 100vw;
    height: 150px;
}

header>h1 {
    color: #04C2D9;
    font-family: 'Silkscreen';
    font-weight: normal;
    text-align: center;
    padding: 15px;
    font-size: 2.7em;
}
.fa-bars {
    display: flex;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.menu {
    position: absolute;
    top: 150px;
    display: none;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0590a0;
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.menu li {
    padding: 10px;

}
.menu li a {
    display:block;
    text-align:center;
    padding:7px;
    transition:0.3s;
    text-decoration: none;
    color: #e8f1f2cb;
    font-size: 1.5em;
    font-family: 'Raleway';
   
}

.menu li a:hover {
    color: white;
    background-color:#04c4d9;
    border-radius: 4px;
    transition:0.3s;
}

nav.ativo .menu {
    display: flex;
}
nav.ativo .fa-bars
{
    color:#0590a0;
    transition: 0.5s;
}

#imagem1 {
    background-color: #0A1128;
    background-image: url(../imagens/img1.jpg);
    width: 100%;
    height: 300px;
    background-position: right bottom;
    background-size: cover;
}

.sobre {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
    width: 85%;
    background-color: white;
    height:250px;
}
#minha_foto
{
    display:block;
    margin:auto;
    margin-top: 50px;
    background-color: #0A1128;
    background-image: url('../imagens/eu.png');
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    width:250px;
    height:250px;
    background-position: center center;
    background-size: cover
}
.sobre h2 {
    text-align: center;
    color:#0590a0;
    font-family: 'Bebas Neue';
}

.sobre p {
    text-align: justify;
    width: 85%;
    display: block;
    margin: auto;
    font-size: 0.9em;
}

h1 {
    color: #04C2D9;
    font-family: 'Bebas Neue';
    font-size: 3em;
    text-align: center;
}

.habilidades {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}
.card {
    width: 14rem;
}

.card-text {
    font-size: 0.8em;
}

.ensino {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.514);
    width: 85%;
    height: auto;
    background-color: white;  
}

.local_ensino {
    text-align: center;
    color: #0A1128;

}
.local_ensino h6
{
    color:#0A1128;
    font-size: 1.1em;
}
#l
{
    font-size: 1.5em;
}
.linguagens
{
    display:block;
    margin:auto;
    width:50%;
}
#topo
{
   display:block;
}
.fa-arrow-up
{
    cursor: pointer;
    position: absolute;
    color:#0A1128;
    right:10px;
    display:block;
    padding:17px;
    border-radius: 50%;
    background-color: #04C2D9;
}
.fa-arrow-up:hover
{
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.61)
}
footer {
    display: flex;
    margin-top: 100px;
    background-color: black;
    width: 100%;
    height: 230px;
}
.code
{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width:70%;
    font-size: 0.8em;
}
.code  h1
{
    color:#04C2D9;
    font-size: 2.5em;
    font-family:'Bebas Neue';
    margin-bottom: 25px;
}
.code code
{
    background-color: #0590a0;
    padding:20px;
    border-radius: 25px;
    color:white;
}
.contato_footer
{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width:30%;
}
.contato_footer p
{
    color:white;
    cursor:pointer;
}
.contato_footer p a
{
    color:white;
    transition:0.3s;
}
.contato_footer p a:hover
{
    color:#0590a0;
    transition:0.3s;
}

/* Contato */
#escrito
{
    text-align: center;
    font-size: 1.7em;
    color:#04c4d9;
    margin-top:50px;
    margin-bottom:50px;
}
.contato
{
    display:flex;
    flex-direction: column;
    margin:auto;
    background-color:white;
    border-radius: 12px;
    gap:20px;
    width:80%;
    height:auto;
}

.contato div
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contato div p
{
    color:#0A1128;
    font-size: 1em;
}
.icone
{
    color:#0A1128
}

.opniao
{
    width:80%;
    margin:auto;
}
.opniao div
{
    display:flex;
    flex-direction: column;
    padding:20px;
    align-items: center;
    justify-content: center;
}
label
{
    color:white;
    margin:5px;
}
.campo
{
    width:80%;
    outline:0;
    border:solid 1.5px #0590a0;
    padding:5px;
    border-radius: 3px;
}
#area_botao
{
    display:flex;
    flex-direction: row;
}
.botao
{
    width:200px;
    padding:10px;
    border:none;
    margin:5px;
    color:white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.1em;
}
.botao:hover
{
    opacity: 80%;
    transition: 0.5s;
}
.enviar
{
    background-color: #0590a0;
}
.resetar
{
    background-color: darkred;
}

